{% load staticfiles %}
<html>
    <head>
    	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
		<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="{% static 'css/blog.css' %}">
        <link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
     
        <title>Karolina blog</title>
    </head>
    <body>

   
    <section class="site-nav"> 
        <header>
        <nav id="navigation">

               <nav class="navbar navbar-default">
             <div class="container">
              <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse1">

              <span class="sr-only">Toggle navigation</span>
               <span class="icon-bar"></span>
               <span class="icon-bar"></span>
               <span class="icon-bar"></span>
               <span class="icon-bar"></span>
              
            </button>


             <span class="navbar-brand" href="#"><a href="{% url 'mojblog.views.post_list' %}"><span class="glyphicon glyphicon-home" aria-hidden="true" ></a></span></span>
             <ul class="nav navbar-nav">
             <li><a href="{% url 'users:new' %}">Stwórz nowe konto</a></li>
             {% if user.is_authenticated %}
              <li><a href="{% url 'post_new' %}">Stwórz nowy post</a></li>
              <li><a href="{% url 'post_draft_list' %}">Posty nieopublikowane</a></li>
              <li><a href="{% url 'django.contrib.auth.views.logout' %}">Wyloguj się</a></li>

            {% else %}
             <li> <a href="{% url 'django.contrib.auth.views.login' %}">Zaloguj sie</a></li>
             
            {% endif %}

           




          </ul>
           
          </div>
      </div>
      
        </header>
    </section>


    <div class="blog-cover" style="background-image:url(static/images/cooking.jpg);">
        <section>
        <div class="container">
            <h1>Blog</h1>
            <h2>Witaj</h2>
        </div>
        </section>
    <!-- </div> -->
      <div class="col-md-8">
            {% block content %}
            {% endblock %}
            </div>
    <div>

    </div>

             <div class="col-sm-3 col-sm-offset-1 blog-sidebar">

              <!--     <form method="get" action="/search/">
            <p><label for="id_q">Szukaj wg kategorii:</label>
            <input type="text" name="q" id="id_q" value="{{ query }}" />
            <select name="category">
            {% for category in categories %}
            <option value="{{category.id}}">{{category.name}}</option>
            {% endfor %}  
            </select>
            <input type="submit" value="Szukaj" /></p>
            </form> -->
             Szukaj wg kategorii:
        <form action="/search" method="get">
        <input type="text" name="q">
       
          <!-- <select name="q"> -->
            <!-- {% for category in Categories %} -->
            <!-- <option value="{{Category.id}}">{{Category.name}}</option> -->

            <!-- {% endfor %}   -->
            <!-- </select> -->
        <input type="submit" value="Szukaj">
    </form>


    <!--  <div class="sidebar-module">
            <h4>Archives</h4>
            <ol class="list-unstyled">
              <li><a href="#">March 2014</a></li>
              <li><a href="#">February 2014</a></li>
              <li><a href="#">January 2014</a></li>
              <li><a href="#">December 2013</a></li>
              <li><a href="#">November 2013</a></li>
              <li><a href="#">October 2013</a></li>
              <li><a href="#">September 2013</a></li>
              <li><a href="#">August 2013</a></li>
              <li><a href="#">July 2013</a></li>
              <li><a href="#">June 2013</a></li>
              <li><a href="#">May 2013</a></li>
              <li><a href="#">April 2013</a></li>
            </ol>
          </div> -->

        </div>

    </body>
</html>

