{% extends 'blog/base.html' %}
{% block content %}
<!DOCTYPE html>
<html>
<head>
	<title>Nowy użytkownik</title>
	   <link rel="icon" href="../../favicon.ico">

    <title>Signin Template for Bootstrap</title>

    <!-- Bootstrap core CSS -->
    <link href="../../dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="signin.css" rel="stylesheet">

   
    <script src="../../assets/js/ie-emulation-modes-warning.js"></script>
</head>
<body>

<!-- <form action="" method="post" role="form"> -->
<form class="form-signin">
              {% csrf_token %}
       		  {{ form1.as_p }}


              <button class="btn btn-lg btn-primary btn-block" type="submit">Gotowe</button>

            </form>

</body>
</html>
{% endblock %}